.trusted-container{
    margin-top: 10px;
    padding: 40px;
    background-color: #eeeeee;
    border-radius: 7px;
}
.trusted-container h3{
    text-align: center;
    text-transform: capitalize;
    color: #444;  
}
.brand-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
    margin: 30px 30px 0 30px;
}
.brand-slide img{
    width: 120px;
}














